@import "tailwindcss";
/* Tell Tailwind to use the .dark class */
@custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
}
/* Section spacing */
.section-spacing {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/* Mobile */
@media (max-width: 768px) {
  .section-spacing {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
  .min-h-screen {
    min-height: 60vh;
}
}